.header-block{
  display: flex;
  justify-content: space-between;
}

.nav-link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.auth-container {
  background-color: rgba(0, 0, 0, 0.845);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  
  
} 

body {
  background-color: slategray
}

.home-container {
  
  text-align: center;
  background-color: black;
  width: 400px;
  margin-left: 50%;
  margin-top: 15%;
  transform:translateX(-50%);
  animation-name: moveDiv;
  animation-iteration-count: infinite;
  animation-duration: 4s
  
}

.title {
  color: white;
  font-size: 45px;
  font-family: comic sans ms;
}

.description{
  color: white;
  font-size: 20px;
  font-family: Courier New

}

a:link {
  text-decoration: none;
}

a:hover {
  color: black
}

@keyframes moveDiv {
  0%   {margin-left: 50%; margin-top: 15%; background: black;}
  25%  {margin-left: 20%; margin-top: 30%; background: slategray;}
   50%  {margin-left:20%; margin-top: 5%; background: black;}
   75%  {margin-left: 80%; margin-top: 5%; background: slategrey;}
  100% {margin-left: 80%; margin-top:30%; background: black;}  
}

.username {
  font-size: 25px;
}

.comment {
  font-size: 25px;
}